extends layout

block content
    script
        | var profiles = !{profiles}
    div.container
        h1.text-center= title
        hr
        div.row
            div.col-xs-3
                div.panel.panel-default
                    div.panel-body
                        h3.section #{__('Profiles')}
                        ul.profiles
            div.col-xs-9
                div.panel.panel-default
                    div.panel-body
                        div.form-group
                            div.row
                                div.col-xs-5
                                    input.form-control.name(placeholder=__("Name of profile"))
                                div.col-xs-7
                                    input.form-control.desc(placeholder=__("Description of profile"))
                        div.form-group
                            textarea.form-control.content(placeholder=__("Hosts file content"))
                        div
                            button.btn.btn-primary #{__("Save")}


    div#delModal.modal.fade(tabindex="-1" role="dialog")
        div.modal-dialog.alert.alert-danger(role="document")
            button.close(data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
            h4 Warning!
            p
                | #{__('Are you sure you want to delete this profile?')}
                span#del-profile-name
            p
                button#btn-confirm.btn.btn-danger #{__('Yes, do it!')}
                | &nbsp;
                button#btn-cancel.btn.btn-default(data-dismiss="modal") #{__('Not yet')}

    div#profile-tpl
        li.profile
            div.btn-group(role="group")
                button.btn.btn-default.edit(title=__("Edit")) Default
                button.btn.btn-success.selected(disabled=true title=__("Selected"))
                    span.glyphicon.glyphicon-ok
                button.btn.btn-default.select(title=__("Select"))
                    span.glyphicon.glyphicon-minus
                button.btn.btn-default.del(data-toggle="modal" data-target="#delModal" title=__("Delete"))
                    span.glyphicon.glyphicon-trash
            div.desc
